services:
  api:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: /start
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    env_file:
      - .env
    restart: always
    depends_on:
      - db
      - redis
      - daphne
    networks:
      - booking-site

  client:
    build:
      context: ./client/tempest
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - api
    networks:
      - booking-site

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
      - POSTGRES_DB=${SQL_DATABASE}
    networks:
      - booking-site

  redis:
    image: redis:8.2.1-alpine
    networks:
      - booking-site

  celery-worker:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: /start-celeryworker
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
    networks:
      - booking-site

  celery-beat:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: /start-celerybeat
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
    networks:
      - booking-site

  flower:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: /start-flower
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "5557:5555"
    depends_on:
      - redis
      - celery-worker
      - db
    networks:
      - booking-site

  daphne:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: daphne -b 0.0.0.0 -p 8001 booking_site.asgi:application
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - booking-site

  nginx:
    restart: always
    depends_on:
      - api
      - client
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    build:
      context: ./docker/local/nginx
      dockerfile: Dockerfile
    ports:
      - "8080:80"
      - "443:443"
    networks:
      - booking-site

networks:
  booking-site:
    driver: bridge

volumes:
  postgres_data:
  media_volume:
  static_volume:
