@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7289da;
  --secondary: #f7f7f9;

  --section-max-width: 1440px;
  --section-min-height: 375px;
  --section-padding-x: 40;

  --main-content-y-gap: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  /* --font-sans: var(--font-geist-sans); */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.ui-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: var(--section-max-width);
  padding-inline: clamp(1rem, 4vw, 2rem);
  padding-block: clamp(0.1rem, 4vw, 1rem);
}

.ui-main-content {
  display: flex;
  flex-direction: column;
  gap: var(--main-content-y-gap);
}

.ant-modal {
  transform-origin: center !important;
}

.ant-radio-button-wrapper {
  border-radius: 8 !important;
}

.ant-radio-button-wrapper:first-child {
  border-radius: 8 !important;
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 8 !important;
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

/* NProgress styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #1677ff;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.action-button-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition:
    color 0.18s ease,
    transform 0.12s ease;
  background: transparent;
}

.action-button-detail-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition:
    color 0.18s ease,
    transform 0.12s ease;
  background: transparent;
}

.like-button:hover {
  color: #ff4d4f;
  transform: scale(1.08);
}

.like-button.liked {
  color: #ff4d4f;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 0.7rem;
}

*::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 0.7rem;
}

/* Browsers without `::-webkit-scrollbar-*` support */
@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-width: thin;
    scrollbar-color: #6d7c77 #cfd7c7;
  }
}

/* fix antd date picker on mobile view/small screens */
@media (max-width: 640px) {
  .ant-picker-panels {
    flex-direction: column !important;
  }
}
